CompositionTemplate (
	declarations: ScrapTemplateHeap (
		paths: {
			"voxel-renderer": ScrapTemplate (
				run_loops: [
					RunLoopTemplate (
						name: "default_renderer",
						type_name: "VoxelRendererRunLoop",
					)
				],
				data_objects: [
					EngineDataTemplate (
						name: "default_renderer_data",
						type_name: "VoxelRendererEngineData",
						accessors: {
							(
								"voxel-renderer",
								"default_renderer",
							) : true,
						}
					)
				]
			),
			"voxel-physics": ScrapTemplate (
				run_loops: [
					RunLoopTemplate (
						name: "default_physics",
						type_name: "VoxelPhysicsRunLoop",
					),
					RunLoopTemplate (
						name: "something_else",
						type_name: "VoxelPhysicsRunLoop",
					)
				],
				data_objects: [
					EngineDataTemplate (
						name: "default_physics_data",
						type_name: "VoxelPhysicsEngineData",
						accessors: {
							(
								"voxel-physics",
								"default_physics",
							) : true,
							(
								"voxel-physics",
								"something_else"
							): true,
							(
								"voxel-renderer",
								"default_renderer",
							) : false,
							
						}
					)
				]
			)
		},
	),
	graph: {//key indicates (scrap_name, runloop_name, entrypoint), value is array of parent names
		("voxel-renderer", "default_renderer"): (
			true,//is entrypoint
			[
				("voxel-physics",	"default_physics"),
			]
		),
		("voxel-physics", "default_physics"): (
			false,//is not entrypoint
			[//parents
				("voxel-renderer",	"default_renderer"),
				("voxel-physics",		"something_else"),
			]
		),
		("voxel-physics", "something_else"): (
			true,
			[
				("voxel-physics",	"default_physics"),
				("voxel-renderer",	"default_renderer"),
			]
		)
	}
)